.search {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.15rem 0.25rem;
}
.search input:focus {
  outline: none;
  border-color: #ff2058;
}
